<div
  class="relative z-10 min-h-screen text-white px-6 py-10 lg:px-10">

  <div
    class="max-w-7xl mx-auto grid lg:grid-cols-2 gap-10 items-stretch">

    <!-- LEFT SIDE -->
    <div
      class="hidden lg:flex relative overflow-hidden rounded-[40px] border border-white/10 bg-gradient-to-br from-green-500/20 via-emerald-500/10 to-black backdrop-blur-2xl min-h-[900px]">

      <!-- Glow -->
      <div
        class="absolute top-0 left-0 w-[350px] h-[350px] bg-green-500/20 blur-3xl rounded-full">
      </div>

      <div
        class="absolute bottom-0 right-0 w-[400px] h-[400px] bg-emerald-500/10 blur-3xl rounded-full">
      </div>

      <!-- CONTENT -->
      <div
        class="relative z-10 flex flex-col justify-between p-14 w-full">

        <!-- TOP -->
        <div>

          <!-- BADGE -->
          <div
            class="inline-flex items-center gap-3 bg-white/5 border border-white/10 px-5 py-3 rounded-full mb-10 backdrop-blur-xl">

            <div
              class="w-3 h-3 bg-green-400 rounded-full animate-pulse">
            </div>

            <span
              class="text-sm font-semibold text-green-300">

              Secure Authentication Platform
            </span>

          </div>

          <!-- HEADING -->
          <h1
            class="text-6xl font-black leading-[1.05] tracking-tight">

            Access Your

            <span
              class="block bg-gradient-to-r from-green-400 to-emerald-500 bg-clip-text text-transparent">

              SmartExpense
            </span>

            Dashboard
          </h1>

          <!-- DESCRIPTION -->
          <p
            class="mt-8 text-lg text-gray-300 leading-9 max-w-2xl">

            Securely login and manage expenses,
            settlements, analytics, categories,
            payments and group financial operations
            with one modern smart finance platform.
          </p>

          <!-- FEATURES -->
          <div
            class="space-y-6 mt-12">

            <!-- ITEM -->
            <div
              class="flex items-start gap-5 bg-white/5 border border-white/10 rounded-3xl p-5 backdrop-blur-xl">

              <div
                class="w-16 h-16 rounded-2xl bg-green-500/10 border border-green-500/20 flex items-center justify-center text-3xl">

                🔒
              </div>

              <div>

                <h3
                  class="text-2xl font-bold">

                  Enterprise Security
                </h3>

                <p
                  class="text-gray-400 mt-2 leading-7">

                  Bank-level encrypted authentication,
                  secure API access and protected
                  financial operations.
                </p>

              </div>

            </div>

            <!-- ITEM -->
            <div
              class="flex items-start gap-5 bg-white/5 border border-white/10 rounded-3xl p-5 backdrop-blur-xl">

              <div
                class="w-16 h-16 rounded-2xl bg-blue-500/10 border border-blue-500/20 flex items-center justify-center text-3xl">

                ⚡
              </div>

              <div>

                <h3
                  class="text-2xl font-bold">

                  Instant Access
                </h3>

                <p
                  class="text-gray-400 mt-2 leading-7">

                  Real-time dashboard access with
                  optimized performance and smart
                  financial insights.
                </p>

              </div>

            </div>

            <!-- ITEM -->
            <div
              class="flex items-start gap-5 bg-white/5 border border-white/10 rounded-3xl p-5 backdrop-blur-xl">

              <div
                class="w-16 h-16 rounded-2xl bg-purple-500/10 border border-purple-500/20 flex items-center justify-center text-3xl">

                📊
              </div>

              <div>

                <h3
                  class="text-2xl font-bold">

                  Smart Financial Tools
                </h3>

                <p
                  class="text-gray-400 mt-2 leading-7">

                  Expense tracking, analytics,
                  settlements, group management
                  and advanced reports.
                </p>

              </div>

            </div>

          </div>

        </div>

        <!-- STATS -->
        <div
          class="grid grid-cols-3 gap-5 mt-14">

          <div
            class="bg-black/30 border border-white/10 rounded-3xl p-5 text-center backdrop-blur-xl">

            <h3
              class="text-4xl font-black text-green-400">

              25K+
            </h3>

            <p
              class="text-gray-400 mt-2">

              Active Users
            </p>

          </div>

          <div
            class="bg-black/30 border border-white/10 rounded-3xl p-5 text-center backdrop-blur-xl">

            <h3
              class="text-4xl font-black text-blue-400">

              ₹12M
            </h3>

            <p
              class="text-gray-400 mt-2">

              Transactions
            </p>

          </div>

          <div
            class="bg-black/30 border border-white/10 rounded-3xl p-5 text-center backdrop-blur-xl">

            <h3
              class="text-4xl font-black text-purple-400">

              99.9%
            </h3>

            <p
              class="text-gray-400 mt-2">

              Uptime
            </p>

          </div>

        </div>

      </div>

    </div>

    <!-- RIGHT SIDE -->
    <div
      class="flex items-center justify-center">

      <div
        class="w-full max-w-xl min-h-[900px] flex items-center">

        <!-- AUTH CARD -->
        <div
          class="w-full bg-white/5 border border-white/10 backdrop-blur-2xl rounded-[40px] p-8 lg:p-10 shadow-2xl">

          <!-- LOGO -->
          <div
            class="text-center mb-10">

            <div
              class="w-20 h-20 rounded-3xl bg-gradient-to-br from-green-400 to-emerald-500 flex items-center justify-center text-4xl font-black mx-auto shadow-2xl shadow-green-500/20">

              ₹
            </div>

            <h1
              class="text-4xl font-black mt-6">

              SmartExpense
            </h1>

            <p
              class="text-gray-400 mt-3 text-lg">

              Manage your finances smarter
            </p>

          </div>

          <!-- TABS -->
          <div
            class="grid grid-cols-2 bg-black/40 border border-white/10 rounded-2xl p-2 mb-10">

            <button
              (click)="isLogin = true"
              [class]="isLogin
                ? 'bg-gradient-to-r from-green-500 to-emerald-500 text-white py-4 rounded-xl font-bold transition-all duration-300'
                : 'text-gray-400 py-4 rounded-xl transition-all duration-300 hover:text-white'">

              Login
            </button>

            <button
              (click)="isLogin = false"
              [class]="!isLogin
                ? 'bg-gradient-to-r from-green-500 to-emerald-500 text-white py-4 rounded-xl font-bold transition-all duration-300'
                : 'text-gray-400 py-4 rounded-xl transition-all duration-300 hover:text-white'">

              Register
            </button>

          </div>

          <!-- FIXED HEIGHT -->
          <div
            class="min-h-[620px]">

            <!-- LOGIN FORM -->
            @if(isLogin){

              <div
                class="space-y-6">

                <div>

                  <h2
                    class="text-4xl font-black">

                    Welcome Back
                  </h2>

                  <p
                    class="text-gray-400 mt-3 text-lg">

                    Login to continue managing your finances
                  </p>

                </div>

                <form
                  class="space-y-5"
                  [formGroup]="loginForm">

                  <div>

                    <label
                      class="block mb-3 text-sm text-gray-400">

                      Email Address
                    </label>

                    <input
                      type="email"
                      placeholder="Enter your email"
                      formControlName="email"
                      class="w-full bg-black/50 border border-gray-700 rounded-2xl px-5 py-4 outline-none focus:border-green-500 transition">

                  </div>

                  <div>

                    <label
                      class="block mb-3 text-sm text-gray-400">

                      Password
                    </label>

                    <input
                      type="password"
                      placeholder="Enter password"
                      formControlName="password"
                      class="w-full bg-black/50 border border-gray-700 rounded-2xl px-5 py-4 outline-none focus:border-green-500 transition">

                  </div>

                  <div
                    class="flex items-center justify-between text-sm">

                    <label
                      class="flex items-center gap-2 text-gray-400">

                      <input type="checkbox">

                      Remember me
                    </label>

                    <a
                      href="#"
                      class="text-green-400 hover:text-green-300">

                      Forgot Password?
                    </a>

                  </div>

                  <button
                    (click)="handleLoggedIn()"
                    [disabled]="loginForm.invalid"
                    class="w-full bg-gradient-to-r from-green-500 to-emerald-500 hover:opacity-90 py-4 rounded-2xl font-bold text-lg transition shadow-2xl shadow-green-500/20">

                    Login
                  </button>

                </form>

                <p
                  class="text-center text-gray-400 pt-4">

                  Don't have an account?

                  <span
                    (click)="isLogin = false"
                    class="text-green-400 cursor-pointer hover:underline">

                    Register
                  </span>

                </p>

              </div>
            }

            <!-- REGISTER FORM -->
            @if(!isLogin){

              <div
                class="space-y-6">

                <div>

                  <h2
                    class="text-4xl font-black">

                    Create Account
                  </h2>

                  <p
                    class="text-gray-400 mt-3 text-lg">

                    Register to start managing expenses smarter
                  </p>

                </div>

                <form
                  class="space-y-5"
                  [formGroup]="registerForm">

                  <div>

                    <label
                      class="block mb-3 text-sm text-gray-400">

                      Full Name
                    </label>

                    <input
                      type="text"
                      formControlName="name"
                      placeholder="Enter full name"
                      class="w-full bg-black/50 border border-gray-700 rounded-2xl px-5 py-4 outline-none focus:border-green-500 transition">

                  </div>

                  <div>

                    <label
                      class="block mb-3 text-sm text-gray-400">

                      Email Address
                    </label>

                    <input
                      type="email"
                      formControlName="email"
                      placeholder="Enter your email"
                      class="w-full bg-black/50 border border-gray-700 rounded-2xl px-5 py-4 outline-none focus:border-green-500 transition">

                  </div>

                  <div>

                    <label
                      class="block mb-3 text-sm text-gray-400">

                      Password
                    </label>

                    <input
                      type="password"
                      formControlName="password"
                      placeholder="Create password"
                      class="w-full bg-black/50 border border-gray-700 rounded-2xl px-5 py-4 outline-none focus:border-green-500 transition">

                    @if((password?.touched || password?.dirty) && password?.errors?.['passwordStrength']){
                      <app-error-message>
                        <div class="mt-2">
                          <small>

                            @if(!password?.errors?.['passwordStrength']?.hasMinLength){
                              Minimum 8 characters required
                            }

                            @if (!password?.errors?.['passwordStrength']?.hasLowerCase){
                              At least 1 lowercase letter required
                            }

                            @if (!password?.errors?.['passwordStrength']?.hasUpperCase){
                              At least 1 uppercase letter required
                            }

                            @if (!password?.errors?.['passwordStrength']?.hasSpecialChar){
                              At least 1 special character required
                            }

                          </small>
                        </div>
                      </app-error-message>
                    }

                  </div>

                  <div>

                    <label
                      class="block mb-3 text-sm text-gray-400">

                      Confirm Password
                    </label>

                    <input
                      type="password"
                      formControlName="confirmPassword"
                      placeholder="Confirm password"
                      class="w-full bg-black/50 border border-gray-700 rounded-2xl px-5 py-4 outline-none focus:border-green-500 transition">

                    @if((confirmPassword?.touched || confirmPassword?.dirty) && confirmPassword?.errors?.['passwordMismatch']){
                      <app-error-message>
                        <small>
                          Passwords do not match
                        </small>
                      </app-error-message>
                    }

                  </div>

                  <button
                    (click)="handleRegister()"
                    [disabled]="registerForm.invalid"
                    class="w-full bg-gradient-to-r from-green-500 to-emerald-500 hover:opacity-90 py-4 rounded-2xl font-bold text-lg transition shadow-2xl shadow-green-500/20">

                    Create Account
                  </button>

                </form>

                <p
                  class="text-center text-gray-400 pt-4">

                  Already have an account?

                  <span
                    (click)="isLogin = true"
                    class="text-green-400 cursor-pointer hover:underline">

                    Login
                  </span>

                </p>

              </div>
            }

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
